a { 
    background-color: yellow;
    display: inline-block;
    height: 50px;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    margin-top: 5;
}

}
.row{
    display: flex;

}
.custom-height{
    height: 600px;
}

section {
    width: 800px;
    margin: 50px auto;
}
.column {
    display: inline-block;
}
